---
layout: default_layout
permalink: /committees
title: Committees
published: true
banner: true
---

<!-- Event snippet for Website traffic conversion page --> <script> gtag('event', 'conversion', {'send_to': 'AW-10975379104/3v4oCL3b5dkDEKD9u_Eo'}); </script>
<style>
    .bolded{
        font-weight: bold;
        color: #023f52 !important;
    }
</style>

<div class="event">
    <p>
        {% for subheading in site.data.committees %}
            <p style="font-size: x-large; text-align: left; white-space: pre-wrap;"><b>{{ subheading.title }}</b><p>
            {{subheading.info}}
        {% endfor %}
    </p>
    <p>
        {% for linkhead in site.data.committees %}
            <p style="font-size: x-large; text-align: left; white-space: pre-wrap;"><b>{{ linkhead.header }}</b><br><p>
            {% for link in linkhead.links %}
                <p style="margin-left: 25px"><a href="{{site.baseurl}}/committees/{{ link.url }}" data-toggle="modal" style="color: {{site.data.template.color.primary}}">{{link.title}}</a></p>
            {% endfor %}
        {% endfor %}
    </p>
</div>
{% include committee_info.html %}

<script>
    console.log("HERE-1");
    document.addEventListener("DOMContentLoaded", function(event) {
        console.log("HERE0");
        var url = window.location.href;
        console.log("HERE1");
        var modal_name = url.split('/').at(-1);
        console.log("HERE2");
        if (modal_name !== "committees" && url.split('/').at(-2) === 'committees') {
            console.log("HERE3");
            $('#'+modal_name).modal('show');
            console.log("HERE4")
        }
        console.log("done")
    });
</script>


