---
layout: default_layout
permalink: /committees
title: Committees
published: true
banner: true
---

<style>
    .bolded{
        font-weight: bold;
        color: #023f52 !important;
    }
</style>

<div class="event">
    <p>
        {% for subheading in site.data.committees %}
            <p style="font-size: x-large; text-align: left; white-space: pre-wrap;"><b>{{ subheading.title }}</b><p>
            {{subheading.info}}
        {% endfor %}
    </p>
    <p>
        {% for linkhead in site.data.committees %}
            <p style="font-size: x-large; text-align: left; white-space: pre-wrap;"><b>{{ linkhead.header }}</b><br><p>
            {% for link in linkhead.links %}
                <p style="margin-left: 25px"><a href="#{{ link.url }}" style="color:{{site.data.template.color.primary}}">{{link.title}}</a></p>
            {% endfor %}
        {% endfor %}
    </p>
</div>
{% include committee_info.html %}

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        var url = window.location.href;
        var modal_name = url.split('#').at(-1);
        if (modal_name !== url) {
            $('#'+modal_name).modal('show');
        }
    });

    window.onhashchange = function () {
        location.reload()
    }
</script>


