<!-- Navigation -->

<style>
    nav ul {
        -webkit-font-smoothing: antialiased;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    nav li {
        float: left;
        margin: 0;
        padding: 0;
        position: relative;
    }
    nav a {
        color: #444;
        display: block;
        font: normal 13px/50px Arial, Helvetica, sans-serif;
        padding: 0 25px;
        text-align: center;
        text-decoration: none;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
    }

    nav li:hover a {
        background: #222222;
        color:#FFF;
    }

    nav li:focus a {
        background: #222222;
        color:#FFF;
    }

    nav li ul {
        float: left;
        padding-top: 10px;
        left: 0;
        width:200%;
        opacity: 0;
        position: absolute;
        top: 35px;
        visibility: hidden;
        z-index: 1;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
    }

    nav li:hover ul {
        opacity: 1;
        top: 50px;
        visibility: visible;
    }

    nav li:focus ul {
        opacity: 1;
        top: 50px;
        visibility: visible;
    }

    nav li ul li {
        float: none;
        width: 100%;
    }
    nav li ul a:hover {
        background: #bbb;
    }
    /* Clearfix */
    .cf:after, .cf:before {
        content: "";
        display: table;
    }
    .cf:after {
        clear: both;
    }
</style>

<script>
    function hover(element) {
        element.setAttribute('src', '../css/2017_style/img/logo-small-transparent-hover.svg');
    }

    function unhover(element) {
        element.setAttribute('src', '../css/2017_style/img/logo-small-transparent.svg');
    }
</script>

{% include navbar2.html %}


<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

