<style>
    body {
        position: absolute;
        margin: 0;
        min-height: 100%;
        width: 100%;
    }

    footer {
        z-index: 2;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        background: #1c1c1c;
    }

    .icon_list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .icon_container {
        float: left;
    }

    .icon_container a {
        display: block;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }
    .left {
        padding: 0;
    }

    .right {
        padding: 0;
    }

    .parent {
        display: flex;
        overflow: hidden;
        margin: 1em 0;
        align-items: center;
    }

    .margin-right-auto {
        margin-right: auto;
    }

    .fill-remaining-space {
        flex: auto;
    }

    .legal-link {
        font-size: 15px;
        transition: 0.1s;
    }

    .legal-link:hover {
        color: #0A7B9E;
        transition: 0.1s;
    }

</style>

<footer>
    <div class="container">
        <div class="row parent" style="display: flex; justify-content: space-between;">
            <div class="left" style="justify-items: left; padding-left: 16px;"> 
                <div><a class="legal-link" style="float: left;" href="./terms_of_service">Terms of Service</a></div>
                <div style="height:35px"></div>
                <div><a class="legal-link" style="float: left;" href="./privacy_notice">Privacy Notice</a></div>
                <div style="height:35px"></div>
                <div><a class="legal-link" style="float: center; font-size:x-small" target="_blank" href="https://github.com/TorontoModelUnitedNations/TorontoModelUnitedNations.github.io">Website designed by Aayush Panda, Stephen Ni, Mark Peng, and Andrew Tan</a></div>
            </div>
            <div class="fill-remaining-space"></div>
            <div class="right">
                <ul class="icon_list">
                    <li class="icon_container" style="font-size: x-large"><a target="_blank" href="https://www.facebook.com/TMUN2024"><i class="fa-brands fa-facebook-f"></i></a></li>
                    <li class="icon_container" style="font-size: x-large"><a target="_blank" href="https://www.instagram.com/tmun_2025/"><i class="fa-brands fa-instagram"></i></a></li>
                    <li class="icon_container" style="font-size: x-large"><a target="_blank" href="https://www.tiktok.com/@tmun2024"><i class="fa-brands fa-tiktok"></i></a></li>
                    <li class="icon_container" style="font-size: x-large"><a target="_blank" href="mailto:delegateaffairs@tmun.ca?subject=TMUN%20Delegate%20query%3A%20&body=Delegate%20name%3A"><i class="fa-solid fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
