<style>
body {
  position: absolute;
  margin: 0;
  min-height: 100%;
  width: 100%;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
</style>

<footer>
    <div class="container">
        <div class="row" style="display: flex; justify-content: space-around">
            <div class="col-md-4" style="align-self: center">
                <span class="copyright" style="color: #0A7B9E; font-size: large"><b>Calamus Gladio Fortior</b><br></span>
                <span class="copyright">Website by <a href="https://github.com/AayushPanda">Aayush Panda</a></span>
            </div>
        </div>
    </div>
</footer>