<div style="display: flex;">
    <div>
        <img />
        <h1>Conference</h1>
        <p>Learn more about TMUN, including our venue, schedule and more</p>
        <button style="color: white; width: 250px; height: 70px; background-color: rgb(52, 80, 147); border: none;">About TMUN</button>
    </div>
    <div>
        <img />
        <h1>Conference</h1>
        <p>Learn more about TMUN, including our venue, schedule and more</p>
        <button style="color: white; width: 250px; height: 70px; background-color: rgb(52, 80, 147); border: none;">About TMUN</button>
    </div>
    <div>
        <img />
        <h1>Conference</h1>
        <p>Learn more about TMUN, including our venue, schedule and more</p>
        <button style="color: white; width: 250px; height: 70px; background-color: rgb(52, 80, 147); border: none;">Registration Details</button>
    </div>
</div>