<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Welcoming remarks</h2>
                </div>
            </div>
            <div class="row container">

                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;On behalf of the Secretariat Team, I am honoured to invite you to the very first iteration of Toronto Model United Nations (TMUN).<br><br>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;My name is Edward Liu and I will be serving as your Secretary-General for TMUN 2023. Throughout the whole conference, I will lead a team of passionate and hard-working high-school students in managing Toronto’s premier Model United Nations Conference to the best of our abilities. It is my pleasure to announce that this year, our conference will be held at the Sheraton Hotel in Toronto from March 24th to 26th. As of now, TMUN 2023 will be held in-person, but our Secretariat team will be closely monitoring the COVID-19 situation and is prepared to adapt if necessary.<br><br>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The theme of this year’s iteration of TMUN is innovation. We aim to embody innovation and ingenuity not only within our committees, but throughout the entire conference. From representing Ukraine in the Disarmament and International Security Committee to participating in our secretive Ad-Hoc Crisis Committee, we are ecstatic to provide a new and refreshing Model UN experience for all of our delegates.<br><br>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In addition to our exciting committee program, we will be pioneering innovation through a few other aspects of our conference. Traditionally, Model UN conferences in Toronto have rarely given delegates the option of staying overnight at the venue. With that being said, I am delighted to invite all delegates and chaperones to stay at the Sheraton Hotel throughout the duration of the conference. Of course, staying overnight is optional;more information can be found on our registration page.<br><br>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Model UN has been an incredibly impactful part of my life, and I hope that it will have the same effect on all delegates attending TMUN 2023. Myself and the rest of the Secretariat Team are committed to providing an educational and fun experience to everyone.

                    <br><br>We look forward to seeing everyone in Toronto this March!<br><br>

                    Sincerely,<br>
                </p>

                <p><b>Edward Liu</b><br>
                    Secretary-General<br>
                    TMUN 2023
                </p>
<!--
                <style>
                .video {
                position:relative;
                padding-bottom: 56.25%;
                height:0;
                overflow:hidden;
                align: middle;
                }
                .video iframe, .video object, .video embed {
                position: absolute;
                margin: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                }
                </style>

                <div class="video"><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook%2Fvideos%2F10153231379946729%2F&width=500&show_text=false&appId=269289086810957&height=280" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe></div><br>
-->
            </div>
        </div>
    </section>