<style>
    .sponsor {
        transition: 0.2s;
    }
    .sponsor:hover {
        transition: .2s;
        transform: scale(1.15);
    }

    .sponsor-tier{
        margin-bottom: 2vh;
    }

    .sponsors > .btn {
        margin-top: 7vh;
        margin-bottom: 2vh;
    }

    .sponsor-tier > .row{
        margin-left: 0;
        margin-right: 0;
    }

    .sponsor {
        margin: 1.2vh;
        padding: 15px;
        max-height: 15vh;
    }

    .sponsor > img {
        margin-top: auto;
        margin-bottom: auto;

    }

    .sponsors-title {
        margin-bottom: 1.5vh;
    }
</style>

<section id='partners' class="sponsors justify-content-center col-12" style="margin-top: -100px; ">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Partner conferences</h2>
        </div>
    </div>

    {% for row in site.data.partners %}
    <div class="row centered" style="padding-bottom: 25px; padding-top: 15px; display: flex; justify-content: center; width: 80vw; margin-right: auto; flex-wrap: wrap; margin-left: auto">
        {% for partner in row %}
        <div>
            <a id="{{ partner.name }}" href="{{ partner.link }}">
                <img class="sponsor col-12" src= "/css/2017_style/img/partners/{{ partner.image }}"/>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    
</section>
