<div style="width: 100%; background-color: rgb(40, 38, 38, 0.8); color: white; display: flex; justify-content: space-evenly; align-items: center; padding: 50px; text-align: center; font-family: inherit; opacity: 0; animation: 0.75s ease-out 0.4s fadeIn; -webkit-animation-fill-mode: forwards;">
    <div style="display: flex; flex-direction: column; align-items: center; margin-right: 50px; margin-bottom: 25px">
        <h1 style="font-size: 30px; margin-left: 50px; margin-right: 50px; margin-bottom: 25px">Virtual<br>Registration</h1>
        <button class="page-scroll btn btn-xl" style="padding-bottom: 25px; text-decoration: none; opacity: 0; animation: 0.8s ease-out 0.5s scaleOut; -webkit-animation-fill-mode: forwards;">Opens Aug 29</button>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center; margin-right: 50px; margin-bottom: 25px;">
        <h1 style="font-size: 30px; margin-left: 50px; margin-right: 50px; margin-bottom: 25px">Delegate<br>Registration</h1>
        <button class="page-scroll btn btn-xl" style="text-decoration: none; opacity: 0; animation: 0.8s ease-out 0.5s scaleOut; -webkit-animation-fill-mode: forwards;">Opens Aug 29</button>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center; margin-left: 50px; margin-right: 50px; margin-bottom: 25px">
        <h1 style="font-size: 30px; margin-bottom: 25px">Delegation<br>Registration</h1>
        <button class="page-scroll btn btn-xl" style="text-decoration: none; opacity: 0; animation: 0.8s ease-out 0.5s scaleOut; -webkit-animation-fill-mode: forwards;">Opens Aug 29</button>
    </div>
</div>