
<div style="width: 100%; background-color: rgb(40, 38, 38, 0.8); color: white; display: flex; justify-content: space-evenly; align-items: center; padding: 100px; text-align: center; font-family:Arial, Helvetica, sans-serif">
    <div style="display: flex; flex-direction: column; align-items: center">
        <h1 style="font-family:Arial, Helvetica, sans-serif; margin-left: 50px; margin-right: 50px">Day Delegate<br> Registration</h1>
        <button style="width: 250px; height: 70px; background-color: rgb(52, 80, 147); border: none;">COMING SOON</button>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center; margin-left: 50px; margin-right: 50px">
        <h1 style="font-family:Arial, Helvetica, sans-serif">Delegate <br> Registration</h1>
        <button style="width: 250px; height: 70px; background-color: rgb(52, 80, 147); border: none;">COMING SOON</button>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center; margin-left: 50px; margin-right: 50px">
        <h1 style="font-family:Arial, Helvetica, sans-serif">Delegation <br> Registration</h1>
        <button style="width: 250px; height: 70px; background-color: rgb(52, 80, 147); border: none;">COMING SOON</button>
    </div>
</div>
