<style>
    .sponsor {
        transition: 0.2s;
    }
    .sponsor:hover {
        transition: .2s;
        transform: scale(1.15);
    }

    .sponsor-tier{
        margin-bottom: 2vh;
    }

    .sponsors > .btn {
        margin-top: 7vh;
        margin-bottom: 2vh;
    }

    .sponsor-tier > .row{
        margin-left: 0;
        margin-right: 0;
    }

    .sponsor {
        margin: 1.2vh;
        padding: 15px;
        max-height: 25vh;
    }

    .sponsor > img {
        margin-top: auto;
        margin-bottom: auto;

    }

    .sponsors-title {
        margin-bottom: 1.5vh;
    }
</style>

<div class="speakers">
    <section id="sponsors" class="content" style="padding-bottom: 8%; padding-top:5%; display: flex; align-items: center; justify-content: center; flex-direction: column;">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sponsors List</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <p>If you are interested in sponsoring, please email delegateaffairs@tmun.ca</p>
            </div>
        </div>
    
        {% for row in site.data.sponsors %}
        <div class="row centered" style="padding-bottom: 25px; padding-top: 15px; display: flex; width: 80vw; align-items: center; flex-wrap: wrap; justify-content: center;">
            {% for sponsor in row %}
            <div>
                <a id="{{ sponsor.name }}" href="{{ sponsor.link }}">
                    <img class="sponsor col-12" src= "/css/2017_style/img/sponsors/{{ sponsor.image }}"/>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    
        <div class="text-center" style="padding-top: 25px;">
            <a href="/css/2017_style/pdf/TMUN_Sponsorship_Packet.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-lg btn-text-light">Become A Sponsor</a>
        </div>
    </section>    
</div>
