<script>
    let venue_section_data = []
    {% for sect in site.data.venue_section %}
        venue_section_data.push(JSON.parse(`{{ sect }}`.replaceAll("=>", ": ")))
    {% endfor %}

    console.log(venue_section_data)

    let idx = 0;
    const maxIdx = {{ site.data.venue_section.size }};

    function moveRight() {
        const titleElement = document.getElementById("title")
        const imageElements = [1, 2, 3].map(num => document.getElementById(`image${num}`));

        idx = (idx + 1) % maxIdx;
        titleElement.textContent = venue_section_data[idx].title;
        imageElements.forEach((elm, i) => {
            elm.src = `./css/2016_style/img/gallery/${venue_section_data[idx]["img" + String(i + 1)] + ".png"}`
        })
    }

    function moveLeft() {
        if (idx == 0) {
            idx = maxIdx
        }

        const titleElement = document.getElementById("title")
        const imageElements = [1, 2, 3].map(num => document.getElementById(`image${num}`));

        idx = (idx - 1) % maxIdx;
        titleElement.textContent = venue_section_data[idx].title;
        imageElements.forEach((elm, i) => {
            elm.src = `./css/2016_style/img/gallery/${venue_section_data[idx]["img" + String(i + 1)] + ".png"}`
        })
    }
</script>

<div class="container" style="background-color: rgb(235, 240, 243); padding: 5px; padding-top: 30px; padding-left: 30px; margin-bottom: 200px; width: 90%;">
    <h2 class="section-heading" style="font-size: 40px;">Venue Gallery</h2>
    <div>
        <h1 id="title">{{ site.data.venue_section[0].title }}</h1>
        <div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
            <button style="background: none; border: none;">
                <img src="./css/2016_style/img/arrow.png" class="img-responsive img-centered" alt="arrow" style="margin-right: 5px; width: 50px; height: 50px; transform: rotate(-180deg);" onclick="moveLeft()">
            </button>
            <div style="display: flex; flex-wrap: wrap;">
                <img id="image1" src="./css/2016_style/img/gallery/{{ site.data.venue_section[0].img1 }}.png" class="img-responsive img-centered" alt="{{site.data.venue_section[0].alt}}" style="margin: 25px; width: 300px; height: 250px; object-fit: cover;">
                <img id="image2" src="./css/2016_style/img/gallery/{{ site.data.venue_section[0].img2 }}.png" class="img-responsive img-centered" alt="{{site.data.venue_section[0].alt}}" style="margin: 25px; width: 300px; height: 250px; object-fit: cover;">
                <img id="image3" src="./css/2016_style/img/gallery/{{ site.data.venue_section[0].img3 }}.png" class="img-responsive img-centered" alt="{{site.data.venue_section[0].alt}}" style="margin: 25px; width: 300px; height: 250px; object-fit: cover;">
            </div>
            <button style="background: none; border: none;">
                <img src="./css/2016_style/img/arrow.png" class="img-responsive img-centered" alt="arrow" style="margin-left: 5px; width: 50px; height: 50px;" onclick="moveRight()">
            </button>
        </div>
    </div>
</div>