.event {
  position: relative;
  z-index: 1;
  padding: 12vh 21vw;
  margin-bottom: 10.59vh;
  background-color: #FFFFFF;
  img {
    width: 100%;
  }
  a {
    color: darkblue;
  }
  h2, h3, ol, p {
    color: black; 
    text-align: left;
  }
  p, ol {
    font-size: 110%;
  }
  h1 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
  }
}

@media screen and (max-width : 1200px){
  .event {
      padding: 100px 15vw 100px 15vw;
      margin-bottom: 9.5vh;
  }
}

@media screen and (max-width : 768px){
  .venue-map {
    iframe {
      height: 45vh;
    }
  }

  .event {
      padding: 80px 50px 80px 50px;
      margin-bottom: 4.1vh;
  }
  h1 {
    font-size: 130%;
  }
  h2 {
    font-size: 120%;
  }
  p, ol, li {
    font-size: 100%;
  }
}
