.sponsor-tier{
  margin-bottom: 2vh;
}

.sponsors > .btn {
  margin-top: 7vh;
  margin-bottom: 2vh;
}

.sponsor-tier > .row{
  margin-left: 0;
  margin-right: 0;
}

.sponsor {
  margin: 1.2vh;
  padding: 15px;
  height: 50px;
}

.sponsor > img {
  margin-top: auto;
  margin-bottom: auto;

}

.sponsors-title {
  margin-bottom: 1.5vh;
}