<!DOCTYPE html>
<html>


  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container" >
            <div class="intro-text">
                <div class="intro-heading">Toronto Model United Nations<br></div>
                <div class="intro-lead-in">24-26 March, 2023</div>
                <div class="intro-lead-in">Sheraton Centre Toronto Hotel</div>
                <a href="https://form.jotform.com/221699325644060" target="_blank" class="page-scroll btn btn-xl">Staff applications open</a>
            </div>
        </div>
    </header>

    {% comment %}
    {% include 2017_data/intro.html %}
    {% include 2017_data/speakers.html %}
    {% endcomment %}

    {% include 2017_data/about.html %}

    {% comment %}
    {% include 2017_data/sponsors.html %}
    {% endcomment %}

    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>