<!DOCTYPE html>
<html>


  {% include head.html %}


    <body id="page-top" class="index">

    {% include header-home.html %}

    <!-- Header -->
    <header>
        <div class="container" >
            <div class="intro-text">
                <div class="intro-heading">Toronto Model United Nations<br></div>
                <div class="intro-lead-in">24-26 March, 2023</div>
                <div class="intro-lead-in">Sheraton Centre Toronto Hotel</div>
                <a href="https://form.jotform.com/221864704085054" target="_blank" class="page-scroll btn btn-xl">Staff applications open</a>
            </div>
        </div>
    </header>

    {% comment %}
    {% include intro.html %}
    {% include speakers.html %}
    {% include about.html %}
    {% endcomment %}

    {% comment %}
    {% include sponsors.html %}
    {% endcomment %}

    {% include contact.html %}
    {% include footer.html %}
    {% include speakers_info.html %}
    {% include js.html %}

    </body>
</html>