<!DOCTYPE html>

<html lang="en">

  {% include head.html %}


    <body id="page-top" class="index" oncontextmenu="return false;">

    {% include header-home.html %}

    {% include intro.html %}

    {% comment %}
    {% include speakers.html %}
    {% include about.html %}
    {% endcomment %}

    {% comment %}
    {% include sponsors.html %}
    {% endcomment %}

    {% include contact.html %}
    {% include footer.html %}
    {% include speakers_info.html %}
    {% include js.html %}

    </body>
</html>